<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/progress.css" />
    <link rel="stylesheet" href="/css/loader.css" />
    <link rel="stylesheet" href="/css/messages.css" />
    <link rel="stylesheet" href="/css/surveys.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/png"
    />
    <title>Minor Web Enquete</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <form hidden id="hiddenProgress" action="#" method="get">
      <input type="text" name="progressValue" value="<%- progress %>" />
    </form>

    <section id="progressSectionFunc">
      <p>Algmene voortgang <span><%- progress %> /6</span></p>
    </section>

    <main>
      <label class="formCourseTitle" for="course"
        >Vak: <%- chosenCourse %></label
      >

      <form action="/course" method="post" id="formAction">
        <p class="formQuestionTitles">Docent</p>

        <% if (chosenCourse == 'CSS To The Rescue') { %>

        <!-- CSS To The Rescue -->
        <input
          type="radio"
          id="teacher1"
          name="teacher"
          value="Sanne 't Hooft"
        />
        <label for="teacher1">Sanne 't Hooft</label><br />

        <input
          type="radio"
          id="teacher2"
          name="teacher"
          value="Vasilis van Gemert"
        />
        <label for="teacher2">Vasilis van Gemert</label><br /><br />

        <% } else if (chosenCourse == 'Web Apps From Scratch') { %>

        <!-- Web Apps From Scratch -->
        <input type="radio" id="teacher3" name="teacher" value="Joost Faber" />
        <label for="teacher3">Joost Faber</label><br />
        <input type="radio" id="teacher4" name="teacher" value="Declan Rek" />
        <label for="teacher4">Declan Rek</label><br /><br />

        <% } else if (chosenCourse == 'Browser Technologies') { %>

        <!-- Browser Technologies -->
        <input
          type="radio"
          id="teacher5"
          name="teacher"
          value="Peter Paul Koch"
        />
        <label for="teacher5">Peter Paul Koch</label><br />
        <input
          type="radio"
          id="teacher6"
          name="teacher"
          value="Koop Reynders"
        />
        <label for="teacher6">Koop Reynders</label><br /><br />

        <% } else if (chosenCourse == 'Progressive Web Apps') { %>

        <!-- Progressive Web Apps -->
        <input type="radio" id="teacher7" name="teacher" value="Joost Faber" />
        <label for="teacher7">Joost Faber</label><br />
        <input type="radio" id="teacher8" name="teacher" value="Declan Rek" />
        <label for="teacher8">Declan Rek</label><br /><br />

        <% } else if (chosenCourse == 'Human Centered Design') { %>

        <!-- Human Centered Design  -->
        <input
          type="radio"
          id="teacher9"
          name="teacher"
          value="Vasilis van Gemert"
        />
        <label for="teacher9">Vasilis van Gemert</label><br />
        <input
          type="radio"
          id="teacher10"
          name="teacher"
          value="Koop Reynders"
        />
        <label for="teacher10">Koop Reynders</label><br /><br />

        <% } else if (chosenCourse == 'Real-Time Web') { %>
        <!--  Real-Time Web  -->
        <input
          type="radio"
          id="teacher11"
          name="teacher"
          value="Justus Sturkenboom"
        />
        <label for="teacher11">Justus Sturkenboom</label><br />
        <input
          type="radio"
          id="teacher12"
          name="teacher"
          value="Lucas van Driel"
        />
        <label for="teacher12">Lucas van Driel</label><br /><br />

        <% } %>

        <p class="formQuestionTitles">Perioden:</p>
        <input type="radio" id="week1" name="week" value="Week 5" />
        <label for="week1">Week 5 - 9</label><br />
        <input type="radio" id="week2" name="week" value="Week 10" />
        <label for="week2">Week 10 - 14</label><br />
        <input type="radio" id="week3" name="week" value="Week 15" />
        <label for="week3">Week 15 - 19</label><br />
        <input type="radio" id="week4" name="week" value="Week 20" />
        <label for="week4">Week 20 - 24</label><br /><br />

        <label for="difficulty" class="formQuestionTitles"
          >Lesstof (hoe moeilijk is het):</label
        >
        <input
          type="number"
          name="rateDifficulty"
          id="difficulty"
          min="1"
          max="10"
          placeholder="Geef een cijfer tussen 1-10"
        />
        <span id="difficultyError">Error tekst hier</span>
        <br />

        <label for="explanation" class="formQuestionTitles">
          Uitleg (hoe duidelijk is het uitgelegd):
        </label>
        <input
          type="number"
          name="rateExplanation"
          id="explanation"
          min="1"
          max="10"
          placeholder="Geef een cijfer tussen 1-10"
        />
        <span id="explanationError">Error tekst hier</span>
        <br />

        <label for="learned" class="formQuestionTitles"
          >Eigen inzicht (hoe goed snap je het):</label
        >
        <input
          type="number"
          name="rateLearning"
          id="learned"
          min="1"
          max="10"
          placeholder="Geef een cijfer tussen 1-10"
        />
        <span id="learnedError">Error tekst hier</span>
        <br /><br />

        <input type="hidden" name="page" value="2" />
        <input
          type="hidden"
          name="chosenCourse"
          value="<%- chosenCourse %>"
          id="getChosenCourse"
        />
        <input type="hidden" name="studentName" value="<%- studentName %>" />
        <input type="hidden" name="studentNumber" value="<%- studentNr %>" />
        <input type="hidden" name="progressValue" value="<%- progress %>" />
        <input type="hidden" name="afterSurvey" value="<%- progress %>" />
        <div class="loader_block">
          <input type="submit" value="Opslaan" />
          <div class="loader"></div>
          <img class="check_mark" src="/images/check-mark.png" alt="Voldaan" />
        </div>
      </form>
      <div id="error_box"></div>
      <div id="profileblock"></div>
    </main>
    <%- include('partials/coursefooter'); %>
  </body>
</html>
