<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/progress.css" />
    <link rel="stylesheet" href="/css/surveys.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/png"
    />
    <title>Minor Web Enquete</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <form hidden id="hiddenProgress" action="#" method="get">
      <input
        type="text"
        name="progressValue"
        id="getProgress"
        value="<%- progress %>"
      />
      <input
        type="text"
        name="studentNameValue"
        id="getStudentName"
        value="<%- studentName %>"
      />
      <input
        type="text"
        name="studentNumberValue"
        id="getStudentNumber"
        value="<%- studentNumber %>"
      />
    </form>

    <section id="progressSectionFunc">
      <p>Algmene voortgang <span><%- progress %> /6</span></p>
    </section>

    <main>
      <h2>Welkom <%- studentName %>,</h2>

      <p id="pageTitle">Vul de enquete in voor de volgende vakken</p>

      <!-- <ul id="allSurveys">
        <li>
          <a
            href="/course/css/<%- studentName %>/<%- studentNumber %>/<%- progress %> "
            >CSS to the Rescue</a
          >
        </li>
        <li>
          <a
            href="/course/wafs/<%- studentName %>/<%- studentNumber %>/<%- progress %> "
            >Web App From Scratch</a
          >
        </li>
        <li>
          <a
            href="/course/pwa/<%- studentName %>/<%- studentNumber %>/<%- progress %> "
            >Progressive Web Apps</a
          >
        </li>
        <li>
          <a
            href="/course/btech/<%- studentName %>/<%- studentNumber %>/<%- progress %> "
            >Browser Technologies</a
          >
        </li>
        <li>
          <a
            href="/course/realtime/<%- studentName %>/<%- studentNumber %>/<%- progress %> "
            >Real-Time Web</a
          >
        </li>
        <li>
          <a
            href="/course/hcd/<%- studentName %>/<%- studentNumber %>/<%- progress %> "
            >Human Centered Design</a
          >
        </li>
      </ul> -->

      <% if(resterendeVakken) { %>
      <p id="toDoTitle">Meteen verder met de enquete?</p>
      <ul id="toDoSurveys">
        <% for(key in resterendeVakken) { %>

        <li class="noStart">
          <a
            href="/course/<%- key %>/<%- studentName %>/<%- studentNumber %>/<%- progress %> "
            ><%- resterendeVakken[key] %></a
          >
        </li>

        <% } %>
      </ul>
      <% } %> <% if(hasSurveyAnswers.length > 0) { %>
      <p id="afgerondTitle">Afgerond</p>
      <ul id="finishedSurveys">
        <% hasSurveyAnswers.forEach(finished => { %>
        <li class="finishedSurveys">
          <span>&#x2713;</span> <%- finished.chosenCourse %>
        </li>
        <% }); %>
      </ul>
      <% } %>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>
