<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/progress.css" />
    <title>Minor Web Enquete</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <form hidden id="hiddenProgress" action="#" method="get">
      <input type="text" name="progressValue" value="<%- progress %>" />
    </form>

    <section id="progressSectionFunc">
      <p>Algmene voortgang</p>
      <p><%- progress %> /6</p>
    </section>

    <main>
      <picture>
        <!-- <source
          srcset="https://media.giphy.com/media/l31QlrdXbkIssW3M1s/giphy.gif"
          type="image/webp"
        /> -->
        <img src="https://media.giphy.com/media/l31QlrdXbkIssW3M1s/giphy.gif" />
      </picture>

      <h2>Opgeslagen!</h2>

      <p id="opgeslagenVak">Vak: <%- opgeslagenVak %></p>

      <p>Meteen verder met de enquete?</p>

      <ul>
        <% for(key in resterendeVakken) { %>

        <li>
          <a
            href="/course/<%- key %>/<%- studentName %>/<%- studentNr %>/<%- progress %> "
            ><%- resterendeVakken[key] %></a
          >
        </li>

        <% } %>
      </ul>

      <a href="/profile/<%- studentName %>/<%- studentNr %>/<%- progress %>"
        >Profielpagina</a
      >
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>
